In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
from matplotlib import pyplot
import seaborn as sns
import welly
import lasio
from shapely.geometry import Point, MultiPoint, LineString
from shapely.geometry import Polygon
from shapely.ops import nearest_points

import plotly.express as px
import plotly.graph_objects as go

from shapely.geometry import Point, shape
import fiona

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

# allowing all columns visible in notebook

pd.options.display.max_columns=None

In [2]:
df = pd.read_csv('ALL_por_perm_data_CSV.csv')
df

,filename,API,well_name,formation,depth_new,K inf md,Kair md,perm_md,por_percnt,perm_horz_md,Perm Ka Max md,perm_klink_md,grain_density,Comment,Unnamed: 14
0,C720477A.pdf,049-007-20477,1 Champlin 276 AMOCO D,LEWIS,8574.5,NaN,NaN,NaN,12.0,0.604,NaN,NaN,2.67,NaN,NaN
1,C720477A.pdf,049-007-20477,1 Champlin 276 AMOCO D,LEWIS,8575.5,NaN,NaN,NaN,10.2,0.097,NaN,NaN,2.67,NaN,NaN
2,C720477A.pdf,049-007-20477,1 Champlin 276 AMOCO D,LEWIS,8576.5,NaN,NaN,NaN,13.1,4.13,NaN,NaN,2.66,NaN,NaN
3,C720477A.pdf,049-007-20477,1 Champlin 276 AMOCO D,LEWIS,8577.5,NaN,NaN,NaN,10.7,0.501,NaN,NaN,2.66,NaN,NaN
4,C720477A.pdf,049-007-20477,1 Champlin 276 AMOCO D,LEWIS,8578.5,NaN,NaN,NaN,4.6,0.157,NaN,NaN,2.67,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,921052A.pdf,049-009-21052,1-26 Federal,LEWIS,6399.0,NaN,NaN,0.25,16.5,NaN,NaN,NaN,NaN,NaN,NaN
1541,921052A.pdf,049-009-21052,1-26 Federal,LEWIS,6402.0,NaN,NaN,0.05,14.8,NaN,NaN,NaN,NaN,NaN,NaN
1542,921052A.pdf,049-009-21052,1-26 Federal,LEWIS,6404.0,NaN,NaN,0.08,14.8,NaN,NaN,NaN,NaN,NaN,NaN
1543,921052A.pdf,049-009-21052,1-26 Federal,LEWIS,6406.0,NaN,NaN,0.75,16.4,NaN,NaN,NaN,NaN,NaN,NaN
1544,921052A.pdf,049-009-21052,1-26 Federal,LEWIS,6408.0,NaN,NaN,0.35,15.5,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(df.API.value_counts())

049-037-20846    211
049-037-20975    148
049-037-21637    144
049-007-20477    130
049-037-21776     74
049-037-21005     65
049-037-22933     62
049-037-21099     61
049-037-20710     49
049-037-22901     48
049-037-23155     47
049-037-21073     44
049-037-23300     44
049-037-21415     41
049-037-06373     40
049-037-22972     36
049-037-21141     32
049-037-23295     30
049-037-21131     25
049-037-21684     25
049-009-21052     24
049-037-21215     24
049-037-22401     23
049-037-21422     22
049-037-23244     22
049-037-20555     17
049-037-22583     17
049-037-21416     16
049-037-23007     16
049-037-21429      8
Name: API, dtype: int64

In [4]:
test = df.API.value_counts()
test

049-037-20846    211
049-037-20975    148
049-037-21637    144
049-007-20477    130
049-037-21776     74
049-037-21005     65
049-037-22933     62
049-037-21099     61
049-037-20710     49
049-037-22901     48
049-037-23155     47
049-037-21073     44
049-037-23300     44
049-037-21415     41
049-037-06373     40
049-037-22972     36
049-037-21141     32
049-037-23295     30
049-037-21131     25
049-037-21684     25
049-009-21052     24
049-037-21215     24
049-037-22401     23
049-037-21422     22
049-037-23244     22
049-037-20555     17
049-037-22583     17
049-037-21416     16
049-037-23007     16
049-037-21429      8
Name: API, dtype: int64

In [5]:
len(test)

30

In [12]:
df.head(1)

,filename,API,well_name,formation,depth_new,K inf md,Kair md,perm_md,por_percnt,perm_horz_md,Perm Ka Max md,perm_klink_md,grain_density,Comment,Unnamed: 14
0,C720477A.pdf,049-007-20477,1 Champlin 276 AMOCO D,LEWIS,8574.5,NaN,NaN,NaN,12.0,0.604,NaN,NaN,2.67,NaN,NaN

Column Order:

In [17]:
col_order = ['K inf md',
           'Kair md', 
           'perm_md', 
           'perm_horz_md', 
           'Perm Ka Max md', 
           'perm_klink_md']

In [18]:
df2 = df[col_order]
df2

      K inf md  Kair md  perm_md perm_horz_md Perm Ka Max md  perm_klink_md
0          NaN      NaN      NaN        0.604            NaN            NaN
1          NaN      NaN      NaN        0.097            NaN            NaN
2          NaN      NaN      NaN         4.13            NaN            NaN
3          NaN      NaN      NaN        0.501            NaN            NaN
4          NaN      NaN      NaN        0.157            NaN            NaN
...        ...      ...      ...          ...            ...            ...
1540       NaN      NaN     0.25          NaN            NaN            NaN
1541       NaN      NaN     0.05          NaN            NaN            NaN
1542       NaN      NaN     0.08          NaN            NaN            NaN
1543       NaN      NaN     0.75          NaN            NaN            NaN
1544       NaN      NaN     0.35          NaN            NaN            NaN

[1545 rows x 6 columns]

In [24]:
df3 = df2.rename(columns={"K inf md": "c1", "Kair md": "c2", "perm_md":"c3", "perm_horz_md":"c4", "Perm Ka Max md":"c5", "perm_klink_md":"c6"})

In [25]:
df3.head(1)

   c1  c2  c3     c4   c5  c6
0 NaN NaN NaN  0.604  NaN NaN

In [34]:
def rank (c1, c2, c3, c4, c5, c6):
    if (c1 !=np.nan):
        return value
    elif (c2 !=np.nan):
        return value
    elif (c3 !=np.nan):
        return value
    elif (c4 !=np.nan):
        return value
    elif (c5 !=np.nan):
        return value
    elif (c6 !=np.nan):
        return value

In [35]:
df3['final'] = df3.apply(rank(df3.c1, df3.c2, df3.c3, df3.c4, df3.c5, df3.c6))
df3

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
def my_fun(x, var1, var2, var3):
    print (x)
    if (x[var1]-x[var2])>0 :
        x[var3]=x[var1]-x[var2]
    else:
        x[var3]=0
    return x

In [ ]:
df2['final'] = df2.apply(lambda row: final(row), axis=1)


def rank(df2): 
    if df2['launched_date']is not None:
        print(row['launched_date'])
        exit()
        adjusted_date = date_to_time_in_timezone(row['launched_date']) 

    elif row['item_published_at'] is not None:
        adjusted_date = row['item_published_at']#make datetime in PST
    else:
        adjusted_date = row['item_created_at'] #make datetime in PST
    return adjusted_date